{% extends 'base.html' %}
{% block content %}
{% load product_tags %}
{% load static %}
<main>
    <!-- breadcrumb__area-start -->
    <div class="product-lists-top">
        <div class="product__filter-wrap">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="product__filter d-sm-flex align-items-center">
                        <div class="product__col">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="FourCol-tab" data-bs-toggle="tab"
                                        data-bs-target="#FourCol" type="button" role="tab" aria-controls="FourCol"
                                        aria-selected="true">
                                        <i class="fal fa-th"></i>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="FiveCol-tab" data-bs-toggle="tab"
                                        data-bs-target="#FiveCol" type="button" role="tab" aria-controls="FiveCol"
                                        aria-selected="false">
                                        <i class="fal fa-list"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="product__filter-right d-flex align-items-center justify-content-md-end">
                        <div class="product__sorting product__show-no">
                            <select>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                            </select>
                        </div>
                        <div class="product__sorting product__show-position ml-20">
                            <select>
                                <option>Latest</option>
                                <option>New</option>
                                <option>Up coming</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content" id="productGridTabContent">
        <div class="tab-pane fade show active" id="FourCol" role="tabpanel" aria-labelledby="FourCol-tab">
            <div class="tp-wrapper">
                <div class="row g-0">
                    {% for product in recommended_products %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item product__item-d">
                            <div class="product__thumb fix">
                                <div class="product-image w-img">
                                    <a href="product-details.html">
                                        <img src="{% if product.featured_image %}{{ product.featured_image.url }}{% endif %}" alt="{{ product.product_name }}" style="height: 300px; width: 100%; object-fit: cover;">
                                    </a>
                                </div>
                                <div class="product__offer">
                                    <span class="discount">{{ product.discount }}%</span>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal"
                                        data-bs-target="#productModalId">
                                        <i class="fal fa-eye"></i>
                                        <i class="fal fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class="fal fa-heart"></i>
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class="fal fa-layer-group"></i>
                                        <i class="fal fa-layer-group"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product__content-3">
                                <h6><a href="{% url 'product_details' product.id %}">{{ product.details |
                                        truncatewords:5 }}</a></h6>
                                <div class="rating mb-5">
                                    <ul>
                                        {% for _ in product.rating_range %}
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        {% endfor %}
                                    </ul>
                                    <span>({{ product.review_count }} review{{ product.review_count|pluralize }})</span>
                                </div>
                                <div class="price mb-10">
                                    <span>${% call_sellprice product.price product.discount|default:0
                                        %}</span>&nbsp;&nbsp;<del>${{ product.price }}</del>
                                </div>
                            </div>
                            <div class="product__add-cart-s text-center">
                                <a href="{% url 'cart_add' product.id %}"
                                    class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
                                    Add to Cart
                                </a>
                                <button type="button"
                                    class="wc-checkout d-flex align-items-center justify-content-center w-100"
                                    data-bs-toggle="modal" data-bs-target="#productModalId">
                                    Quick View
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% if products %}
    <div class="row">

        {% for i in products %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="product__item product__item-d">
                <div class="product__thumb fix">
                    <div class="product-image w-img">
                        <a href="{{ i.get_absolute_url }}">
                            <img src="{% if i.featured_image %}{{ i.featured_image.url }}{% endif %}" alt="{{ i.product_name }}" style="height: 200px; width: 100%; object-fit: cover;">
                        </a>
                    </div>
                    <div class="product__offer">
                        <span class="discount">{{i.Discount}}%</span>
                    </div>
                    <div class="product-action">
                        <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                            <i class="fal fa-eye"></i>
                            <i class="fal fa-eye"></i>
                        </a>
                        <a href="#" class="icon-box icon-box-1">
                            <i class="fal fa-heart"></i>
                            <i class="fal fa-heart"></i>
                        </a>
                        <a href="#" class="icon-box icon-box-1">
                            <i class="fal fa-layer-group"></i>
                            <i class="fal fa-layer-group"></i>
                        </a>
                    </div>
                </div>
                <div class="product__content-3">
                    <h6><a href="product-details.html">{{i.product_name | truncatewords:05}}</a></h6>
                    <div class="rating mb-5">
                        <ul>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                        </ul>
                        <span>(01 review)</span>
                    </div>
                    <div class="price mb-10">
                        <span>${% call_sellprice i.price i.Discount %}</span>&nbsp;&nbsp;<del>${{ i.price }}</del>
                    </div>
                </div>
                <div class="product__add-cart-s text-center">
                    <a href="{% url 'cart_add' i.id %}"
                        class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
                        Add to Cart
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No results found for "{{ query }}".</p>
    {% endif %}

    <!-- shop modal start -->
    {% for product in products %}
    <div class="modal fade" id="productModalId-{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-box">
                                    <div class="tab-content" id="modalTabContent">
                                        <div class="tab-pane fade show active" id="nav1" role="tabpanel"
                                            aria-labelledby="nav1-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{% if product.featured_image %}{{ product.featured_image.url }}{% elif product.product_image_set.first %}{{ product.product_image_set.first.Image_url.url }}{% endif %}" alt="{{ product.product_name }}">
                                            </div>
                                        </div>
                                        {% for image in product.product_image_set.all %}
                                        <div class="tab-pane fade" id="nav{{ image.id }}" role="tabpanel"
                                            aria-labelledby="nav{{ image.id }}-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{% if image.Image_url %}{{ image.Image_url.url }}{% endif %}" alt="{{ product.product_name }}">
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                        {% for image in product.product_image_set.all %}
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav{{ image.id }}-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav{{ image.id }}" type="button" role="tab"
                                                aria-controls="nav{{ image.id }}" aria-selected="true">
                                                <img src="{% if image.Image_url %}{{ image.Image_url.url }}{% endif %}" alt=""
                                                    style="width: 85px; height:85px; object-fit: cover;">
                                            </button>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-content">
                                    <h4><a href="product-details.html">{{ product.product_name }}</a></h4>
                                    <div class="product__review d-sm-flex">
                                        <div class="rating rating__shop mb-10 mr-30">
                                            <!-- Your rating stars code here -->
                                        </div>
                                        <div class="product__add-review mb-15">
                                            <span>01 review</span>
                                        </div>
                                    </div>
                                    <div class="product__price">
                                        <span>${% call_sellprice product.price product.Discount
                                            %}</span>&nbsp;&nbsp;<del>${{ product.price }}</del>
                                    </div>
                                    <div class="product__modal-des mt-20 mb-15">
                                        <ul>
                                            <li><a href="#">{{ product.Product_information|safe|truncatechars:500 }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product__stock mb-20">
                                        <span class="mr-10">Availability :</span>
                                        <span>{{ product.Availability }}</span>
                                    </div>
                                    <div class="product__modal-form">
                                        <form action="#">
                                            <div class="pro-quan-area d-lg-flex align-items-center">
                                                <div class="product-quantity mr-20 mb-25">
                                                    <div class="cart-plus-minus p-relative"><input type="text"
                                                            value="1" /></div>
                                                </div>
                                                <div class="pro-cart-btn mb-25">
                                                    <a class="cart-btn" href="{% url 'cart_add' product.id %}">Add to
                                                        cart</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="product__stock mb-30">
                                        <ul>
                                            <li><a href="#">
                                                    <span class="sku mr-10">Brand: </span>
                                                    <span>{{ product.model_name }}</span></a>
                                            </li>
                                            <li><a href="#">
                                                    <span class="cat mr-10">Description</span>
                                                    <span>{{ product.Description |safe| truncatechars:100 }}</span></a>
                                            </li>
                                            <li><a href="#">
                                                    <span class="tag mr-10">Tags:</span>
                                                    <span>{{ product.Tags }}</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop modal end -->
    {% endfor %}

</main>
{% endblock %}