{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h2 class="text-success">Payment Successful</h2>
        <p class="lead">Thank you for your purchase!</p>
        <p>Your payment was successful, and your order is now being processed.</p>
        <!-- You can provide additional order details or a link to the order history page -->
        <a href="" class="btn btn-primary">View Order History</a>
      </div>
    </div>
  </div>
{% endblock %}
