{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>Order History</h2>
        {% if orders %}
          <ul class="list-group">
            {% for order in orders %}
              <li class="list-group-item">
                <strong>{{ order.product_name }}</strong>
                <br>
                Status: {{ order.status }}
                <br>
                Total: {{ order.currency }} {{ order.total_amount }}
                <br>
                PayPal Order: {{ order.paypal_order_id }}
                <br>
                Order Date: {{ order.order_date }}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>You haven't placed any orders yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
